<div *ngIf="field && field.choices; else empty" [formGroup]="form" [class]="{'global-danger-border': !isValid}">
  <label [attr.for]="field.key">{{field.label}}</label>
  <select [id]="field.key" formControlName="{{dynamicName}}">
    <option *ngFor="let choice of choices" [ngValue]="choice">
      {{ choice.value }}
    </option>
  </select>
  <div *ngIf="!isValid" class="global-danger">
    <span>Обязательное поле</span>
  </div>
</div>
<ng-template #empty>
  <div>Ошибка формирования поля формы</div>
</ng-template>


