.form {
  border: 1px solid wheat;
  background-color: wheat;
  border-radius: 11px;
  padding: 20px;

  & div {
    margin-bottom: 15px;
  }

  &__error {
    color: red;
    font-style: italic;
  }

}
