<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <ng-container *ngIf="fields">
      <h2>Форма загружена</h2>
      <ng-container *ngFor="let field of fields">
        <ng-container [ngSwitch]="field.controlType">

          <div *ngSwitchCase="'text'">
            <app-test-input [form]="form" [field]="field" [subjectError]="subject"></app-test-input>
          </div>

          <div *ngSwitchCase="'number'">
            <app-test-number [form]="form" [field]="field" [subjectError]="subject"></app-test-number>
          </div>

          <div *ngSwitchCase="'checkbox'">
            <app-test-checkbox [form]="form" [field]="field" [subjectError]="subject"></app-test-checkbox>
          </div>

          <div *ngSwitchCase="'dropdown'">
            <app-test-select [form]="form" [field]="field" [subjectError]="subject"></app-test-select>
          </div>
        </ng-container>
      </ng-container>
      <button type="submit">Отправить</button>
    </ng-container>
    <div *ngIf="!fields"><h2>Загрузка формы {{formID}} ...</h2></div>
  </form>
</div>
