<div *ngIf="field; else empty" [formGroup]="form" [class]="{'global-danger-border': !isValid}">
  <label [attr.for]="field.key">{{field.label}}</label>
  <input type="checkbox" [formControlName]="dynamicName" [id]="field.key">
  <div *ngIf="!isValid" class="global-danger">
    <span>Обязательное поле</span>
  </div>
</div>
<ng-template #empty>
  <div>Ошибка формирования поля формы</div>
</ng-template>

